src/main/java/liquibase/ext/spatial/xml/liquibase-spatial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext/liquibase-gravy" xmlns:tns="http://www.liquibase.org/xml/ns/dbchangelog-ext/liquibase-gravy" elementFormDefault="qualified">
   <element name="autoIncrementSupported" />
   <element name="sequencesSupported" />
   <element name="tablespacesSupported" />
</schema>
